@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "tailwindcss";

@theme {
    /* This is where you put your theme customizations */
    --container-padding-default: 1rem;
    --container-padding-sm: 2rem;
    --container-padding-lg: 4rem;
    --container-padding-xl: 5rem;
    --container-padding-2xl: 6rem;

    /* --- Custom Colors --- */
    /* Define a single color */
    --color-primary: #ff8901;
    --color-secondary: #fb923c;
    --font-playfair: 'Playfair Display', serif;
}


@layer components {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* This uses the new theme variables */
        padding-left: var(--container-padding-default);
        padding-right: var(--container-padding-default);
    }


    .primary-btn {
        @apply bg-primary text-white font-semibold py-3 px-6 rounded-md hover:scale-110 duration-300;
        transition: background-color 0.3s ease;
    }

}